<div class="row">
  <h3 class="mb-5 mt-5"> Student Details</h3>
  <div class="mb-3 col-sm-12">
    <div class="row">
      <input type="text" class="form-control col-sm-6" #searchbox placeholder="Search Student By Name e.g. Vishal"
        (keyup)="search(searchbox.value)">
      <button class="ml-auto btn btn-primary" (click)="addStudent()"> Add Student</button>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>RollNo</th>
        <th>Name</th>
        <th>Degree</th>
        <th>City</th>
        <th class="edit-col">&nbsp;</th>
      </tr>
    </thead>
    <tbody *ngIf="!noSearchResultFound">
      <tr *ngFor="let student of students">
        <td>{{student.rollno}}</td>
        <td>{{student.name}}</td>
        <td>{{student.degree}}</td>
        <td>{{student.city}}</td>
        <td class="text-center"><button class="btn-sm btn btn-outline-success btn-block" (click)="editStudent(student)">
            Edit</button></td>
      </tr>
    </tbody>
    <div *ngIf="noSearchResultFound">No search result found</div>
    <button class="btn btn-link " (click)="showMore()">Show More ...</button>
  </table>
</div>