<div class="row justify-content-center align-items-center">

  <div class="col-md-6 col-md-offset-2">
    <div class="card prelogin-wrapper">
      <div class="card-body">
        <h3 class="text-center">Login</h3>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="username" class="form-control" formControlName="username" id="username" [ngClass]="{ 'is-invalid': submitted && formControls.username.errors }">
            <div *ngIf="submitted && formControls.username.errors" class="invalid-feedback">
              <div *ngIf="formControls.username.errors.required">Username is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" formControlName="password" id="password" [ngClass]="{ 'is-invalid': submitted && formControls.password.errors }">
            <div *ngIf="submitted && formControls.password.errors" class="invalid-feedback">
              <div *ngIf="formControls.password.errors.required">Password is required</div>
            </div>
          </div>
          <button class="btn btn-primary btn-lg btn-block">Login</button>
          <div *ngIf="isError" class="text-danger">
            <div>Login failed.</div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>